{%- comment -%} Vectors and rasters need different Zooming options. {%- endcomment -%}
{%- assign image_ext = include.path | split: '.' | last | downcase -%}
{%- if image_ext == 'svg' -%}{%- assign zoom_class = 'zooming zooming-vector' -%}
{%- else -%}{%- assign zoom_class = 'zooming zooming-raster' -%}
{%- endif -%}
<a href="{{ '/assets/images/' | append: include.path-detail | relative_url }}">
  <img src="{{ '/assets/images/' | append: include.path | relative_url }}" alt="{{ include.alt }}" class="{{ zoom_class }}" width="{{ include.width }}"
    data-rjs="{{ '/assets/images/' | append: include.path-detail | relative_url }}"
  />
</a>
