// =============================================================================
// About
// =============================================================================

.about {
  padding: 50px 0 20px;
  display: block;
  p,
  ul,
  ol,
  img,
  blockquote {
    display: block;
    margin-bottom: 20px;
  }
  h1 {
    margin: 50px 0 15px;
  }
  h2,
  h3,
  h4 {
    display: block;
    margin-bottom: 10px;
    font-family: $sans-serif;
    color: $article-post-titles-color;
  }
}
