// =============================================================================
// Player
// =============================================================================

.audio-player {
  padding-top: 10px;
}

.audio-player-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  max-width: 40px;
  min-height: 40px;
  margin: auto;

  svg {
    display: block;
    width: 32px;
    height: 32px;
    padding: 4px;
    margin: auto;
    fill: $header-link-color;
    stroke: $header-link-color;
  }
  &:hover svg {
    fill: $header-link-color-hover;
    stroke: $header-link-color-hover;
  }
}

.audio-player-spinner {
  cursor: pointer;
  max-width: 40px;
  min-height: 40px;
  margin: -40px auto 0;
  opacity: 0;
}

.audio-player-spinner-on {
  border: 4px solid #7A7A16;
  border-radius: 50%;
  opacity: 1;
  transition: opacity .2s ease-in-out;
  animation: audio-progress linear 4s;
}

.audio-player-spinner-off {
  opacity: 0;
}

@keyframes audio-progress {
  0% {
    clip-path: polygon(50% -20.71%, 50% 50%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(50% -20.71%, 50% 50%, 100% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
  }
  25% {
    clip-path: polygon(50% -20.71%, 50% 50%, 120.71% 50%, 120.71% 50%, 120.71% 50%, 120.71% 50%, 100% 0%);
  }
  37.5% {
    clip-path: polygon(50% -20.71%, 50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 0%);
  }
  50% {
    clip-path: polygon(50% -20.71%, 50% 50%, 50% 120.71%, 50% 120.71%, 50% 120.71%, 100% 100%, 100% 0%);
  }
  62.5% {
    clip-path: polygon(50% -20.71%, 50% 50%, 0% 100%, 0% 100%, 0% 100%, 100% 100%, 100% 0%);
  }
  75% {
    clip-path: polygon(50% -20.71%, 50% 50%, -20.71% 50%, -20.71% 50%, 0% 100%, 100% 100%, 100% 0%);
  }
  87.5% {
    clip-path: polygon(50% -20.71%, 50% 50%, 0% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 0%)
  }
  100% {
    clip-path: polygon(50% -20.71%, 50% 50%, 50% -20.71%, 0% 0%, 0% 100%, 100% 100%, 100% 0%);
  }
}
