// =============================================================================
// Base
// =============================================================================

// Document
// =============================================================================

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
}

body {
  margin: 0 auto;
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $base-font-color;
  background: $body-background;
}

// Typography
// =============================================================================

p {
  margin: 0;
  font-weight: $base-font-weight;
}

b,
strong {
  font-weight: $base-font-weight-bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: $base-font-size * 1.6;
  font-weight: 400;
  letter-spacing: -.03em;
  color: $article-header-title-color;
}

h2 {
  font-size: $base-font-size * 1.5;
  font-weight: 400;
}

h3 {
  font-size: $base-font-size * 1.3;
  font-weight: 500;
}

h4 {
  font-size: $base-font-size * 1.1;
  font-weight: 500;
}

h5 {
  font-size: $base-font-size * 1.17;
  font-weight: 500;
}

h6 {
  font-size: $base-font-size;
}

@include breakpoint(small) {
  h1 {
    font-size: $base-font-size * 1.5;
  }
  h2 {
    font-size: $base-font-size * 1.35;
  }
  h3 {
    font-size: $base-font-size * 1.25;
  }
}

a {
  color: $base-accent-color;
  text-decoration: underline;
  transition: color $base-transition-speed linear;
  &:hover,
  &:active {
    color: $base-accent-highlighted-color;
  }
  &:focus {
    color: $base-accent-highlighted-color;
    outline: none;
  }
}

svg {
  transition: fill 0.2s linear;
}

ul,
ol {
  padding-left: 40px;
  margin: 0;
}

abbr {
  cursor: help;
  border-bottom: 1px dotted $base-border-color;
}

details {
  margin-bottom: 10px;
}

details summary {
  margin: 0 0 10px -5px;
  font-size: $base-font-size * 1.3;
  font-weight: 500;
}

// Use for <details> content
.note {
  padding: 0 0 0 15px;
  margin: 0 0 20px 0;
  font-family: $sans-serif;
  border-left: 3px solid $gray-dark;
}

blockquote {
  font-family: $sans-serif;
  font-size: 18px;
  font-style: italic;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  color: $gray-light;
}

blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: $gray-light;
}

blockquote cite {
  color: $gray-light;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014 \2009";
}

// Other
// =============================================================================

hr {
  margin: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid $base-border-color;
  border-left: 0;
}

img {
  display: block;
  max-width: 100%;
  margin: 0;
}

.notfound-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

::selection {
  color: $white;
  background-color: $gray-darkest;
}